<section id="footer" class="section bg-gray">
    <section class="container {{ grid_size }}">
        <p><a href="cranberrylabs.net">Cranberry Labs</a> © 2025 est. - present</p>
    </section>
</section>
