# Grav runtime
cache/
tmp/
logs/
backup/
assets/
images/
vendor/
bin/
system/

# Grav boilerplate docs
CHANGELOG.md
CODE_OF_CONDUCT.md
CONTRIBUTING.md
LICENSE.txt
README.md
SECURITY.md

# OS junk
.DS_Store
Thumbs.db

# All images
*.jpg
*.jpeg
*.png
*.gif
*.webp
*.svg